@import url('http://fonts.cdnfonts.com/css/graphik');
* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Graphik', sans-serif;
}

/* Scroll bar custom styling */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #DE8500;
}

/* Animations */

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
  }
    100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}